<div *ngIf="!loaded">
  <h3>Loading...</h3>
</div>

<div *ngIf="loaded" class="fit-screen d-flex flex-column">

  <h3 class="text-center">
    <app-state-icon class="float-right" [size]="'fa-3x'" [state]="trip.vehicle.state"></app-state-icon>
    Details <label class="text-primary"> {{trip.id}} </label>
  </h3>

  <div class="no-float margin-bottom-30">
    <button class="btn btn-outline-dark" (click)="goBack()">Back</button>
    <button class="btn btn-outline-primary" (click)="edit()">Edit</button>
    <button class="btn btn-outline-danger" (click)="showConfirmModal()">Delete</button>
  </div>

  <div class="d-flex">
    <!-- stops -->
    <div class="flex-3 bounding-box">
      <a href="network">
      <h4 class="text-lg-left">
        <i class="fa fa-map-marker fa-2x float-left padding-left-5 text-primary"></i>
        <label class="padding-emb-box-headline">Stops</label>
      </h4>
      </a>
      <p *ngFor='let stop of trip.stops'>
        <label class="text-secondary">{{stop.departureTime | date:'MM/dd/yyyy HH:mm'}}</label>
        <a href="network/stop/{{stop.id}}">
          {{stop.name}}
        </a>
        <app-state-icon class="float-right" [size]="'fa-2x'" [state]="stop.state"></app-state-icon>
      </p>
    </div>

    <div class="d-flex flex-1 flex-column">
      <!-- line -->
      <app-embedded-line [line]="trip.line" class="flex-1 bounding-box"></app-embedded-line>
      <!-- vehicle -->
      <app-embedded-vehicle [vehicle]="trip.vehicle" class="flex-1 bounding-box"></app-embedded-vehicle>
    </div>
  </div>

</div>
