<h3 class="text-center margin-bottom-30">{{title}}</h3>
<button class="btn btn-outline-primary no-float margin-bottom-30" (click)="addTrip()">Add</button>

<app-filter-group-view></app-filter-group-view>

<div class="scrollable">
  <table class="table table-width">
    <thead>
    <tr>
      <th>Trip-ID</th>
      <th>Vehicle-ID</th>
      <th nowrap>Vehicle type</th>
      <th>Line-ID</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let trip of filterGroup.getFiltered(trips)">
      <td>
        <a routerLink="detail/{{trip.id}}">
          {{ trip.id }}
        </a>
      </td>
      <td>{{ trip.vehicle.id }}</td>
      <td>{{ trip.vehicle.type }}</td>
      <td>{{ trip.line.name }}</td>
        <td>
          <span [ngClass]="{'color-fine': trip.vehicle.state === 'FINE',
           'color-problematic': trip.vehicle.state === 'PROBLEMATIC',
          'color-critical': trip.vehicle.state === 'CRITICAL' }">
            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
          </span>
        </td>
      <td><i class="fa fa-trash fa-2x text-primary"></i></td>
    </tr>
    </tbody>
  </table>

  <div *ngIf="!isLoaded()">
    <h3>Loading...</h3>
  </div>
</div>
