  <h3 class="text-center margin-bottom">{{title}}</h3>

<app-filter-group-view></app-filter-group-view>

<div class="scrollable">
  <table class="table table-width">
    <thead>
    <tr>
      <th>TripId</th>
      <th>VehicleId</th>
      <th>VehicleType</th>
      <th>LineId</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let trip of filterGroup.getFiltered(trips)">
        <td>
          <a routerLink="detail/{{trip.id}}">
            {{ trip.id }}
          </a>
        </td>
        <td>{{ trip.vehicle.id }}</td>
        <td>{{ trip.vehicle.type }}</td>
        <td>{{ trip.line.name }}</td>
        <td><i class="fa fa-trash fa-2x text-primary"></i></td>
    </tr>
    </tbody>
  </table>

  <div *ngIf="!isLoaded()">
    <h3>Loading...</h3>
  </div>
</div>
