<div class="d-flex flex-column fit-screen">
  <h3 class="text-center m-3">Trips</h3>

  <div class="d-flex flex-row fit-screen">
    <div class="fit-screen filter-fully-visible">
      <app-filter-group-view></app-filter-group-view>
    </div>
    <div *ngIf="loaded && filterGroup.getFiltered(trips).length > 0" class="d-flex fit-screen">
      <table class="table fit-screen d-flex flex-column">
        <thead>
        <tr class="d-flex">
          <th>Trip-ID</th>
          <th>Vehicle-ID</th>
          <th nowrap>Vehicle type</th>
          <th>Line-Name</th>
          <th>Start</th>
          <th>End</th>
          <th>State</th>
        </tr>
        </thead>
        <tbody class="d-flex flex-column flex-grow-1 fit-screen">
        <tr *ngFor="let trip of filterGroup.getFiltered(trips)">
          <div (click)="goToLink(trip.id)" class="d-flex highlight">
          <td>{{ trip.id }}</td>
          <td>{{ trip.vehicle.id }}</td>
          <td>
            {{ trip.vehicle.type }}
          </td>
          <td>{{ trip.line.name }}</td>
          <td>
            <label class="text-secondary">{{trip.stops[0].departureTime | date:'MM/dd/yyyy HH:mm'}}</label>
            {{trip.stops[0].name}}
          </td>
          <td>
            <label class="text-secondary">{{trip.stops[trip.stops.length-1].departureTime | date:'MM/dd/yyyy HH:mm'}}</label>
            {{trip.stops[trip.stops.length-1].name}}
          </td>
          <td>
            <span [ngClass]="{'color-fine': trip.vehicle.state === 'FINE',
             'color-problematic': trip.vehicle.state === 'PROBLEMATIC',
            'color-critical': trip.vehicle.state === 'CRITICAL' }">
              <i class="fa fa-lightbulb-o fa-2x" aria-hidden="true"></i>
            </span>
          </td>
          </div>
        </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="!loaded">
      <h3>Loading...</h3>
    </div>
    <div *ngIf="loaded && filterGroup.getFiltered(trips).length == 0">
      <h3>No trips available</h3>
    </div>
  </div>

  <div class="no-float m-3 no-m-left">
    <button class="btn btn-outline-primary no-float" (click)="addTrip()">Add new trip</button>
  </div>
</div>
