<a class="color-inherit" href="network">
  <h4 class="text-lg-left">
    <div [ngClass]="{'color-fine': line.state === 'FINE',
     'color-problematic': line.state === 'PROBLEMATIC',
     'color-critical': line.state === 'CRITICAL' }">
      <i class="fa fa-lightbulb-o fa-2x float-right" aria-hidden="true"></i>
    </div>
    <i class="fa fa-exchange fa-2x float-left padding-left-5 text-primary"></i>
    <label class="padding-emb-box-headline">Line</label>
  </h4>
</a>
<p><label class="text-secondary">ID:</label>
  <a href="/network/detail/{{line.id}}">
    {{line.id}}
  </a>
</p>
<p><label class="text-secondary">Name:</label> {{line.name}}</p>
