.btn {
  color: #007bff;
  background-color: #ffffff;
  border-color: #007bff;
  outline: none !important;
}

.btn.active {
   color: #fff;
   background-color: #007bff;
   border-color: #007bff;
   outline: none !important;
 }

.btn input[type=checkbox] {
  position: absolute;
  clip: rect(0,0,0,0);
  pointer-events: none;
}

input[type=number] {
  padding: 1px;
  border: 2px solid #007bff;
  border-radius: 5px;
  width: 100%;
  background-position: 10px 10px;
  margin-bottom: .5rem !important;
}
