# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
/*/build/

# gradle
!gradle-wrapper.jar
/.gradle/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# visual paradigm for uml
*.vpp~*
*.vux
*.vpp.working
*.vpp.bak_????
*.vpp.vbak

# angular/npm
package-lock.json

# IntelliJ (see https://intellij-support.jetbrains.com/hc/en-us/articles/206544839-How-to-manage-projects-under-Version-Control-Systems)
.idea/workspace.xml
.idea/tasks.xml
*.iml
!.idea/gradle.xml # else the import does not work really well...
.idea/libraries/
.idea/modules.xml
