<div class="modal-header">
  <h4 class="modal-title">
    Add a new trip
  </h4>
  <button type="button" class="close" aria-label="Close"
          (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body d-flex flex-column">
  <div class="d-flex justify-content-between">
    <label>Line: </label>
    <app-dropdown [values]="getLineDropdownItems()" [(selected)]="selectedLine"
                  (selectedChange)="selectedLineChanged()"></app-dropdown>
  </div>
  <div *ngIf="selectedLine.value !== null" class="d-flex justify-content-between">
    <label>Direction: </label>
    <app-dropdown [values]="getDirectionDropdownItems()"
                  [(selected)]="selectedDirection"
                  (selectedChange)="selectedDirectionChanged()"></app-dropdown>
  </div>

  <ng-container *ngIf="selectedDirection.value !== null">
    <button type="button" class="btn btn-outline-dark" (click)="showStops = !showStops"
            [attr.aria-expanded]="!showStops" aria-controls="stopList">Edit stops
    </button>
    <div *ngIf="showStops">
      <div *ngFor="let stop of getStops()" class="d-flex justify-content-around">
        <label>
          <input type="checkbox" [(ngModel)]="selectedStops.get(stop)">
          {{stop.commonName}}
        </label>
      </div>
    </div>

    <app-datetime-picker [text]="'Departure time:'"
                         [(model)]="selectedDate"
                         (modelChanged)="refreshVehicles($event)"
                         [isValid]="isValidDeparture">
    </app-datetime-picker>

    <div class="d-flex justify-content-between">
      <label>Vehicle</label>
      <app-dropdown [values]="getVehicleDropdownItems()"
                    [(selected)]="selectedVehicle"></app-dropdown>
    </div>
  </ng-container>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">
    Cancel
  </button>
  <button type="button" class="btn btn-outline-primary" (click)="confirm()">Save</button>
</div>
