.no-border {
  border-color: white;
}

.highlight:hover {
  border-width: 3px;
  padding: 8px
}

.highlight {
  border-width: 1px;
  padding: 10px;
  cursor: pointer;
}

.button {
  background-color: white;
}

.button:hover {
  background-color: inherit;
}
