<div>
  <h5 class="text-lg-left">
    <button class="btn btn-outline-primary float-right padding-3 no-border" (click)="deleteItem()">
      <span class="fa fa-times float-right" aria-hidden="true"></span>
    </button>
    <a href="{{link}}" class="fill-div">
    <div [ngClass]="{'color-fine': data.item.itemPriority <= 5,
     'color-problematic': data.item.itemPriority > 5 && data.item.itemPriority <= 10,
     'color-critical': data.item.itemPriority > 10}">
      <i class="fa fa-exclamation-circle float-left padding-right-5" aria-hidden="true"></i>
    </div>
    <label>{{data.item.itemHeader}}</label>
    </a>
  </h5>
  <a href="{{link}}" class="fill-div">
  <p class="no-margin-bottom" [innerHTML]=data.item.itemDescription></p>
  </a>
</div>
