.filter-component {
  height: 100%;
  float: left;
  margin-right: 40px;
  display: block;
}

.btn {
  color: #007bff;
  background-color: #ffffff;
  border-color: #007bff;
}

.btn.active {
   color: #fff;
   background-color: #0062cc;
   border-color: #0062cc;
 }

/*.ngbButton {
  color: #007bff;
  background-color: #000000;
  border-color: #007bff;
}

.ngbButton.active {
  color: #fff;
  background-color: #000000;
  border-color: #0062cc;
}*/


/*
.btn input[type=checkbox] {
  position: absolute;
  clip: rect(0,0,0,0);
  pointer-events: none;
}
*/

.btn:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #0062cc;
}

