
<div *ngIf="!loaded">Loading...</div>

<div class="fit-screen d-flex flex-column" *ngIf="loaded">
  <h3 class="text-center">
    <div [ngClass]="{'color-fine': line.state === 'FINE',
       'color-problematic': line.state === 'PROBLEMATIC',
       'color-critical': line.state === 'CRITICAL' }">
      <i class="fa fa-lightbulb-o fa-3x float-right padding-right-20"
         aria-hidden="true"></i>
    </div>
    Details <label class="text-primary"> {{line.name}} </label>
  </h3>

  <div class="no-float margin-bottom-30">
    <button class="btn btn-outline-dark" (click)="goBack()">Back</button>
  </div>

  <div *ngIf="loaded" class="d-flex">
    <app-embedded-stop-overview [linePositionData]="inboundPositionData"
                                [title]="'inbound'"
                                [color]="line.color" class="flex-1 bounding-box" ></app-embedded-stop-overview>
    <app-embedded-stop-overview [linePositionData]="outboundPositionData" [title]="'outbound'"
                                [color]="line.color" class="flex-1 bounding-box"></app-embedded-stop-overview>
  </div>
</div>

