<div *ngIf="!loaded">Loading...</div>

<div class="fit-screen d-flex flex-column" *ngIf="loaded">
  <h3 class="text-center">
    <app-state-icon class="float-right" [size]="'fa-3x'" [state]="line.state"></app-state-icon>
    Details
    <a href="network/detail/{{line.id}}">
      <label class="text-primary"> {{line.name}} </label>
    </a>
  </h3>

  <div class="no-float">
    <button class="btn btn-outline-dark" (click)="goBack()">Back</button>
  </div>

  <div *ngIf="loaded" class="d-flex">
    <app-embedded-stop-overview [linePositionData]="inboundPositionData"
                                [title]="'inbound'"
                                [color]="line.color"
                                class="flex-1 bounding-box"></app-embedded-stop-overview>
    <app-embedded-stop-overview [linePositionData]="outboundPositionData" [title]="'outbound'"
                                [color]="line.color"
                                class="flex-1 bounding-box"></app-embedded-stop-overview>
  </div>
</div>

