<div class="bounding-box bg-light">

  <h5 class="text-lg-left">
    <i class="fa fa-map-marker fa-2x float-left small-padding-left text-primary"></i>
    <label class="padding-emb-box-headline">Stops {{title}}</label>
  </h5>

    <div *ngFor="let data of linePositionData.positionAtStops; let i = index">
      <!-- for vehicles at stops -->
      <p>
        <!-- stop icon -->
        <a href="network/stop/{{data.stopId}}">
          <i class="fa fa-map-marker float-left small-padding-left" [style.color]="color"></i>
          At {{data.stopName}}
        </a>
        <!-- status icon -->
        <span [ngClass]="{'color-fine': data.stopState === 'FINE',
                'color-problematic': data.stopState === 'PROBLEMATIC',
                'color-critical': data.stopState === 'CRITICAL' }">
          <i class="fa fa-lightbulb-o small-padding-right" aria-hidden="true"></i>
        </span>
        <!-- vehicle icons -->
        <span class="float-right" *ngFor="let vehicle of data.vehiclePositionData">
          <a href="vehicles/{{vehicle.id}}">
          <!-- bus icon if bus -->
          <span *ngIf="vehicle.type === 'BUS'"
                [ngClass]="{'color-fine': vehicle.state === 'FINE',
                'color-problematic': vehicle.state === 'PROBLEMATIC',
                'color-critical': vehicle.state === 'CRITICAL' }">
            <i class="fa fa-bus float-left small-padding-left"></i>
          </span>
          <!-- subway icon if subway -->
          <span *ngIf="vehicle.type === 'SUBWAY'"
                [ngClass]="{'color-fine': vehicle.state === 'FINE',
                'color-problematic': vehicle.state === 'PROBLEMATIC',
                'color-critical': vehicle.state === 'CRITICAL' }">
            <i class="fa fa-subway float-left small-padding-left"></i>
          </span>
          </a>
        </span>
      </p>

      <!-- for vehicles between stops -->
      <p>
        <!-- stop icon -->
        <a href="network/stop/{{linePositionData.positionAfterStops[i].stopId}}">
          <i class="fa fa-map-marker float-left small-padding-left"  [style.color]="color"></i>
          After {{linePositionData.positionAfterStops[i].stopName}}
        </a>

        <span [ngClass]="{'color-fine': linePositionData.positionAfterStops[i].stopState === 'FINE',
                'color-problematic': linePositionData.positionAfterStops[i].stopState === 'PROBLEMATIC',
                'color-critical': linePositionData.positionAfterStops[i].stopState === 'CRITICAL' }">
          <i class="fa fa-lightbulb-o small-padding-right" aria-hidden="true"></i>
        </span>
        <!-- vehicle icons -->
        <span class="float-right" *ngFor="let vehicle of linePositionData.positionAfterStops[i].vehiclePositionData">
          <a href="vehicles/{{vehicle.id}}">
          <!-- bus icon if bus -->
            <span *ngIf="vehicle.type === 'BUS'"
                  [ngClass]="{'color-fine': vehicle.state === 'FINE',
                'color-problematic': vehicle.state === 'PROBLEMATIC',
                'color-critical': vehicle.state === 'CRITICAL' }">
              <i class="fa fa-bus float-left small-padding-left"></i>
            </span>
          <!-- subway icon if subway -->
            <span *ngIf="vehicle.type === 'SUBWAY'"
                [ngClass]="{'color-fine': vehicle.state === 'FINE',
                'color-problematic': vehicle.state === 'PROBLEMATIC',
                'color-critical': vehicle.state === 'CRITICAL' }">
              <i class="fa fa-subway float-left small-padding-left"></i>
            </span>
          </a>
        </span>
      </p>
    </div>
</div>
