<div class="bounding-box flex-1">
  <h4 class="text-lg-left">
    <div [ngClass]="{'color-fine': vehicle.state === 'FINE',
     'color-problematic': vehicle.state === 'PROBLEMATIC',
     'color-critical': vehicle.state === 'CRITICAL' }">
      <i class="fa fa-exclamation-triangle fa-2x float-right small-padding-right" aria-hidden="true"></i>
    </div>
    <i class="fa fa-subway fa-2x float-left small-padding-left text-primary"></i>
    <label class="padding-emb-box-headline">Vehicle</label>
  </h4>
  <p>ID: {{vehicle.id}}</p>
</div>
