<h4 class="text-lg-left">
    <div [ngClass]="{'color-fine': vehicle.state === 'FINE',
     'color-problematic': vehicle.state === 'PROBLEMATIC',
     'color-critical': vehicle.state === 'CRITICAL' }">
      <i class="fa fa-lightbulb-o fa-2x float-right small-padding-right" aria-hidden="true"></i>
    </div>
    <div *ngIf="vehicle.type === 'BUS'">
      <i class="fa fa-bus fa-2x float-left padding-left-5 text-primary"></i>
    </div>
    <div *ngIf="vehicle.type === 'SUBWAY'">
      <i class="fa fa-subway fa-2x float-left padding-left-5 text-primary"></i>
    </div>
    <label class="padding-emb-box-headline">Vehicle</label>
  </h4>
  <p class="text-primary"> <label class="text-secondary">ID: </label> {{vehicle.id}}</p>
  <p> <label class="text-secondary">Type:</label>
    {{ stringFormatter.toFirstUpperRestLower(vehicle.type) }}</p>
  <p> <label class="text-secondary">Capacity: </label> {{vehicle.capacity}}</p>
  <p> <label class="text-secondary">Load: </label> {{vehicle.load}}</p>
  <p> <label class="text-secondary">Delay: </label> {{(vehicle.delay / 60.0).toFixed(0)}}</p>
  <p> <label class="text-secondary">Temperature: </label> {{vehicle.temperature}}</p>
  <p> <label class="text-secondary">Shut Down: </label> {{vehicle.isShutDown}}</p>
  <div *ngFor="let defect of vehicle.defects; let i=index">
    <label class="text-secondary">Defects: </label>
    <label *ngIf="i>0">,</label>
    <label> {{defect}}</label>
  </div>
