<div *ngIf="!isLoaded()">
  <h3>Loading...</h3>
</div>

<div class="fit-screen d-flex flex-column" *ngIf="isLoaded()">

  <h3 class="text-center margin-bottom-30">
    <div [ngClass]="{'color-fine': event.priority === 'FINE',
       'color-problematic': event.priority === 'PROBLEMATIC',
       'color-critical': event.priority === 'CRITICAL' }">
      <i class="fa fa-exclamation-circle fa-3x float-right padding-right-20" aria-hidden="true"></i>
    </div>
    {{title}}
    <label class="text-primary">{{event.id}}</label>
  </h3>

  <div class="no-float margin-bottom-30">
    <button class="btn btn-outline-dark" (click)="goBack()">Back</button>
    <button class="btn btn-outline-primary" (click)="editEvent()">Edit Event</button>
    <button class="btn btn-outline-danger" (click)="showConfirmModal()">Delete</button>
  </div>

  <div class="d-flex">
    <!-- info about the event -->
    <div class="bounding-box flex-1">
      <h4 class="text-lg-left">
        <i class="fa fa-calendar fa-2x float-left padding-left-5 text-primary"></i>
        <label class="padding-emb-box-headline">Information</label>
      </h4>
      <p>Subject: {{event.subject}}</p>
      <p>Priority: {{ stringFormatter.priorityToLabel(event.priority) }}</p>
      <p>Start Date: {{event.startTime | date:'MM/dd/yyyy HH:mm'}}</p>
      <p>Start Date: {{event.endTime | date:'MM/dd/yyyy HH:mm'}}</p>
    </div>

    <!-- involved parties -->
    <div class="bounding-box flex-1">
      <h4 class="text-lg-left">
        <i class="fa fa-users fa-2x float-left padding-left-5 text-primary"></i>
        <label class="padding-emb-box-headline">Involved Parties</label>
      </h4>
      <p *ngFor="let party of event.appointmentInvolvedParties">
        {{party.partyName}}
      </p>
    </div>

    <!-- notes -->
    <div class="bounding-box flex-1">
      <h4 class="text-lg-left">
        <i class="fa fa-sticky-note fa-2x float-left padding-left-5 text-primary"></i>
        <label class="padding-emb-box-headline">Notes</label>
      </h4>
      <p *ngFor="let note of event.appointmentNotes">
        {{note.text}}
      </p>
    </div>
  </div>

</div>
