<div [ngClass]="{'greyed-out': saveDisabled}">
  <div class="modal-header">
    <h4 class="modal-title">
      {{title}}
    </h4>
    <button type="button" class="close" aria-label="Close"
	    (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body container d-flex flex-column">
    <app-edit-announcement-text *ngIf="state === 0"
       	                        [(text)]="text"></app-edit-announcement-text>
    <!-- not sure why I cannot use [(...)] in the date-time - it doesn't work then. -->
    <app-timespan-picker *ngIf="state === 1"
                         [from]="validFrom"
                         (fromChanged)="validFrom = $event"
                         [to]="validTo"
                         (toChanged)="validTo = $event"></app-timespan-picker>
    <app-edit-announcement-stops *ngIf="state === 2"
	                         [lines]="availableLines"
	                         [stops]="availableStops"
	                         [selectedStops]="selectedStops"
	                         (selectedStopsChanged)="setStops($event)"></app-edit-announcement-stops>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark"
	    (click)="activeModal.close('Close click')">
      Cancel
    </button>
    <ng-container *ngIf="state !== 0">
      <button type="button" class="btn btn-outline-dark" (click)="back()" [disabled]="!isBackEnabled()">Back</button>
    </ng-container>
    <button type="button" class="btn btn-outline-primary" (click)="next()" [disabled]="!isNextEnabled()">
      {{state === 2? "Save" : "Next"}}
    </button>
  </div>
</div>

<div *ngIf="saveDisabled" class="fa fa-spinner fa-pulse fa-5x center-center text-primary"></div>
