<div class="bounding-box w-100" *ngIf="!deleted">
  <h4 class="text-lg-left">
    <i class="fa fa-bullhorn fa-2x float-left padding-left-5 text-primary"></i>
    <label class="padding-emb-box-headline">{{data.text}}</label>
  </h4>

  <p class="text-primary"><label class="text-secondary">ID: </label>
    <a href="announcements">
    {{data.id}}
    </a>
  </p>
  <p>
    <label class="text-secondary">Valid from </label>
    {{data.validFrom | date:'MM/dd/yyyy HH:mm'}}
    <label class="text-secondary"> to </label>
    {{data.validTo | date:'MM/dd/yyyy HH:mm'}}
  </p>

  <button class="btn btn-outline-dark" (click)="editItem()">Edit</button>
  <button class="btn btn-outline-dark" (click)="deleteItem()">Delete</button>
</div>

