<div class="d-flex flex-nowrap flex-column">
  <div class="d-flex flex-wrap align-items-center m-2">
    <div>Add stops on</div>
    <app-dropdown [values]="availableLines" [selected]="selectedLine"
                  (selectedChange)="lineChanged($event)" class="my-1 mx-2"
                  [width]="150"></app-dropdown>
    <div>from</div>
    <app-dropdown [values]="availableDirections" [(selected)]="selectedDirection"
                  [disabled]="selectedLine.value === null"
                  class="my-1 mx-2"></app-dropdown>
    <div>to {{getEndOfSelectedLine()}}</div>
    <button type="button" class="btn btn-outline-primary my-1 mx-2" (click)="addSelecedLine()"
            [disabled]="selectedDirection.value === null">
      Add
    </button>
  </div>
  <div class="d-flex flex-wrap align-items-center m-2">
    <div>Add</div>
    <app-dropdown class="my-1 mx-2" [values]="availableStops"
                  [(selected)]="selectedStop" [width]="300"></app-dropdown>
    <button type="button" class="btn btn-outline-primary my-1 mx-2" (click)="addSelectedStop()"
            [disabled]="selectedStop.value === null">
      Add
    </button>
  </div>
  <div class="d-flex flex-wrap align-items-center m-2">
    <button class="btn btn-outline-dark" (click)="removeAllStops()">Remove all stops</button>
  </div>
</div>
<div class="d-flex flex-column m-2 scrollable">
  <div class="d-flex justify-content-between m-1" *ngFor="let stop of getSelectedStops()">
    <div class="d-flex align-items-center">{{stop.commonName}}</div>
    <button class="btn btn-outline-dark" (click)="removeStop(stop)">Delete</button>
  </div>
</div>
