<h3 class="text-center">{{title}}</h3>

<div *ngIf="loaded && data.length > 0" class="d-flex flex-column scrollable container">
  <ng-container *ngFor="let announcement of data">
    <app-announcement-item class="flex-1" [data]="announcement" id="{{announcement.id}}"></app-announcement-item>
  </ng-container>
</div>
<ng-container *ngIf="!loaded">
  <h3>Loading...</h3>
</ng-container>
<ng-container *ngIf="loaded && data.length == 0">
  <h3>No announcements available</h3>
</ng-container>

<div class="no-float m-3 no-m-left">
  <button class="btn btn-outline-primary no-float" (click)="add()">Add new Announcement</button>
</div>
