<div class="d-flex flex-column fit-screen">
  <h3 class="text-center m-3">{{title}}</h3>

  <div class="d-flex flex-row fit-screen">
    <div class="fit-screen">
      <app-filter-group-view></app-filter-group-view>
    </div>

    <div *ngIf="loaded && filterGroup.getFiltered(serviceRequests).length > 0"
         class="d-flex flex-grow-1 fit-screen">
      <table class="table fit-screen d-flex flex-column">
        <thead class="flex-grow-1">
        <tr class="d-flex">
          <th>ID</th>
          <th>Name</th>
          <th>Type</th>
          <th>Status</th>
          <th>Due date</th>
          <th>Completion date</th>
          <th>Priority</th>
        </tr>
        </thead>
        <tbody class="d-flex flex-column flex-grow-1 fit-screen">
        <tr *ngFor="let serviceRequest of filterGroup.getFiltered(serviceRequests)">
          <td>
            <a href="serviceRequests/detail/{{serviceRequest.id}}">
              {{ serviceRequest.id }}
            </a>
          </td>
          <td>{{ serviceRequest.name }}</td>
          <td>{{ serviceRequest.serviceType }}</td>
          <td>{{ serviceRequest.statusCode }}</td>
          <td>{{ serviceRequest.dueDate }}</td>
          <td>{{ serviceRequest.completionDate }}</td>
          <td>
          <span [ngClass]="{'color-fine': serviceRequest.priority === 'FINE',
           'color-problematic': serviceRequest.priority === 'PROBLEMATIC',
          'color-critical': serviceRequest.priority === 'CRITICAL' }">
            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
          </span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="!loaded">
      <h3>Loading...</h3>
    </div>
    <div *ngIf="loaded && filterGroup.getFiltered(serviceRequests).length == 0">
      <h3>No service request available</h3>
    </div>
  </div>

  <div class="no-float m-3 no-margin-left">
    <button class="btn btn-outline-primary" (click)="addServiceRequest()">Add new service
      request
    </button>
  </div>
</div>
