<h3 class="text-center">{{title}}</h3>

<div class="d-flex">
  <app-filter-group-view class="flex-1 overflow filter-width"></app-filter-group-view>

  <div *ngIf="loaded && filterGroup.searchFeedback(filterGroup.getFiltered(feedback)).length > 0"
       class="d-flex flex-column scrollable container">
    <ng-container
      *ngFor="let fb of filterGroup.searchFeedback(filterGroup.getFiltered(this.feedback))">
      <app-feedback-item [item]="fb" id="{{fb.id}}"></app-feedback-item>
    </ng-container>
  </div>
  <div *ngIf="!loaded">
    <h3>Loading...</h3>
  </div>
  <div *ngIf="loaded && filterGroup.searchFeedback(filterGroup.getFiltered(feedback)).length == 0">
    <h3>No feedback available</h3>
  </div>
</div>
