<div [ngClass]="{'greyed-out': saveDisabled}">
  <div class="modal-header">
    <h4 class="modal-title">
      Titel
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="onDismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body d-flex flex-column">

    <div class="d-flex justify-content-between align-items-center m-3">
      <label class="m-0">Type</label>
      <app-dropdown [values]="toDropdown(vehicleTypes)" [(selected)]="selected"></app-dropdown>
    </div>

    <div class="d-flex justify-content-between align-items-center m-3">
      <label class="m-0">Capacity</label>
      <input class="float-right text-field" type="number" min="{{minCapacity}}" max="{{maxCapacity}}" step="1" [(ngModel)]="capacity" (keypress)="validate($event)">
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="onClose()">Cancel</button>
    <button type="button" class="btn btn-outline-primary" (click)="confirm()" [disabled]="nextDisabled()">
      Save
    </button>
  </div>
</div>

<div *ngIf="saveDisabled" class="fa fa-spinner fa-pulse fa-5x center-center text-primary"></div>
