<h4 class="text-lg-left d-flex align-items-start justify-content-between">
  <a class="color-inherit" href="announcements">
    <i class="fa fa-bullhorn fa-2x float-left padding-left-5 text-primary"></i>
    <label class="padding-emb-box-headline">Announcements</label>
  </a>
  <button class="btn btn-outline-primary no-float" (click)="add()">Add</button>
</h4>
<div *ngFor="let announcement of announcements">
  <a href="announcements/?id={{announcement.id}}">
    <marquee behavior="scroll" direction="left">
      {{announcement.text}}
    </marquee>
  </a>
  <p>
    <label class="text-secondary">
      From {{announcement.validFrom | date:'MM/dd/yyyy HH:mm'}}
      to {{announcement.validTo | date:'MM/dd/yyyy HH:mm'}}
    </label>
  </p>
</div>
<p *ngIf="announcements.length === 0">No Announcements</p>
