<div class="d-flex flex-column fit-screen">
  <h3 class="text-center">{{title}}</h3>

  <div class="d-flex flex-row fit-screen">
    <app-filter-group-view class="flex-1 overflow filter-width"></app-filter-group-view>
    <div *ngIf="loaded && filterGroup.searchEvent(events).length > 0"
         class="d-flex flex-grow-1 fit-screen">
      <table class="table fit-screen d-flex flex-column">
        <thead>
        <tr class="d-flex">
          <th>Event-ID</th>
          <th>Subject</th>
          <th>Starts</th>
          <th>Ends</th>
          <th>Involved Parties</th>
          <th>Notes</th>
          <th>Priority</th>
        </tr>
        </thead>
        <tbody class="d-flex flex-column flex-grow-1 fit-screen">
        <tr *ngFor="let event of filterGroup.searchEvent(events)">
          <div (click)="goToLink(event.id)" class="d-flex highlight">
            <td>{{ event.id }}</td>
            <td>{{event.subject}}</td>
            <td>{{event.startTime | date:'MM/dd/yyyy HH:mm'}}</td>
            <td>{{event.endTime | date:'MM/dd/yyyy HH:mm'}}</td>
            <td>
              <label *ngFor="let party of event.appointmentInvolvedParties">
                {{party.partyName}}
              </label>
            </td>
            <td>
              <label *ngFor="let note of event.appointmentNotes">
                {{note.text}}
              </label>
            </td>
            <td>
              <span [ngClass]="{'color-fine': event.priority === 'FINE',
               'color-problematic': event.priority === 'PROBLEMATIC',
              'color-critical': event.priority === 'CRITICAL' }">
                <i class="fa fa-exclamation-circle fa-2x" aria-hidden="true"></i>
              </span>
            </td>
          </div>
        </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="!loaded">
      <h3>Loading...</h3>
    </div>
    <div *ngIf="loaded && filterGroup.searchEvent(events).length == 0">
      <h3>No events available</h3>
    </div>
  </div>
  <div class="no-float margin-bottom-30">
    <button class="btn btn-outline-primary no-float" (click)="addEvent()">Add new event</button>
  </div>
</div>
