<div *ngIf="!loaded">
  <h3>Loading...</h3>
</div>

<div *ngIf="loaded" class="fit-screen d-flex flex-column">

  <h3 class="text-center">
    <div [ngClass]="{'color-fine': trip.vehicle.state === 'FINE',
       'color-problematic': trip.vehicle.state === 'PROBLEMATIC',
       'color-critical': trip.vehicle.state === 'CRITICAL' }">
      <i class="fa fa-lightbulb-o fa-3x float-right padding-right-20"
         aria-hidden="true"></i>
    </div>
    Details <label class="text-primary"> {{trip.id}} </label>
  </h3>

  <div class="no-float margin-bottom-30">
    <button class="btn btn-outline-secondary" (click)="goBack()">Back</button>
    <button class="btn btn-outline-primary" (click)="editStops()">Edit Stops or Vehicle</button>
    <button class="btn btn-outline-primary" (click)="editDepartureTime()">Edit Departure Time
    </button>
    <button class="btn btn-outline-danger" (click)="showConfirmModal()">Delete</button>
  </div>

  <div class="d-flex">
    <!-- stops -->
    <div class="flex-3 bounding-box">
      <h4 class="text-lg-left">
        <i class="fa fa-map-marker fa-2x float-left padding-left-5 text-primary"></i>
        <label class="padding-emb-box-headline">Stops</label>
      </h4>
      <p *ngFor="let stop of trip.stops">
        <label class="text-secondary">{{stop.departureTime | date:'MM/dd/yyyy HH:mm'}}</label>
        {{stop.name}}
        <span [ngClass]="{'color-fine': stop.state === 'FINE',
       'color-problematic': stop.state === 'PROBLEMATIC',
       'color-critical': stop.state === 'CRITICAL' }">
        <i class="fa fa-lightbulb-o  fa-2x float-right padding-right-20"
           aria-hidden="true"></i>
      </span>
      </p>
    </div>

    <div class="d-flex flex-1 flex-column">
      <app-embedded-vehicle [vehicle]="trip.vehicle" class="flex-1 bounding-box"></app-embedded-vehicle>
    </div>
  </div>

</div>
