<div *ngIf="!isLoaded()">
  <h3>Loading...</h3>
</div>

<div *ngIf="isLoaded()">

    <h3 class="text-center">
      <div [ngClass]="{'color-fine': trip.vehicle.state === 'FINE',
       'color-problematic': trip.vehicle.state === 'PROBLEMATIC',
       'color-critical': trip.vehicle.state === 'CRITICAL' }">
        <i class="fa fa-exclamation-triangle fa-2x float-right small-padding-right" aria-hidden="true"></i>
      </div>
      Trip Details
    </h3>
  <h6 class="text-center margin-bottom">Trip ID: {{trip.id}}</h6>

  <div class="no-float margin-bottom">
    <button class="btn btn-outline-primary" (click)="editStops()">Edit Stops or Vehicle</button>
    <button class="btn btn-outline-primary" (click)="editDepartureTime()">Edit Departure Time</button>
    <button class="btn btn-outline-danger" (click)="showConfirmModal()">Delete</button>
  </div>

  <!-- stops -->
  <div class="bounding-box bg-light">
    <h5 class="text-lg-left">
      <i class="fa fa-map-marker fa-2x float-left small-padding-left text-primary"></i>
      <label class="padding-emb-box-headline">Stops</label>
    </h5>
    <p *ngFor="let stop of trip.stops">
      <label class="text-secondary">{{stop.departureTime |  date:'MM/dd/yyyy HH:mm'}}</label>  {{stop.name}}
      <span [ngClass]="{'color-fine': stop.state === 'FINE',
       'color-problematic': stop.state === 'PROBLEMATIC',
       'color-critical': stop.state === 'CRITICAL' }">
        <i class="fa fa-exclamation-triangle float-right small-padding-right" aria-hidden="true"></i>
      </span>
    </p>
  </div>

  <!-- line -->
  <app-embedded-line [line]="trip.line"></app-embedded-line>

  <!-- vehicle -->
  <app-embedded-vehicle [vehicle]="trip.vehicle"></app-embedded-vehicle>

  <div class="no-float big-padding-top">
    <button class="btn btn-outline-secondary" (click)="goBack()">Back To Trips</button>
  </div>
</div>
