<div *ngIf="!isLoaded()">
  <h3>Loading...</h3>
</div>

<div *ngIf="isLoaded()">

  <h3 class="text-center">Trip Details</h3>
  <h6 class="text-center margin-bottom">Trip ID: {{trip.id}}</h6>

  <div class="no-float margin-bottom">
    <button class="btn btn-outline-primary" (click)="edit()">Edit</button>
    <button class="btn btn-outline-primary" (click)="edit()">Delete</button>
  </div>

  <app-embedded-line [line]="trip.line"></app-embedded-line>
  <app-embedded-vehicle [vehicle]="trip.vehicle"></app-embedded-vehicle>
  <!-- stops -->
  <div class="bounding-box bg-light">
    <h5 class="text-lg-left"><i class="fa fa-map-marker fa-2x float-left"></i>
      <label class="">Stops</label>
    </h5>
    <ul *ngFor="let stop of trip.stops">
      <li>{{stop.id}}</li>
    </ul>
  </div>

  <div class="no-float big-padding-top">
    <button class="btn btn-outline-secondary" (click)="goBack()">Back To Trips</button>
  </div>
</div>
