<nav class="navbar navbar-expand">
  <a routerLink="/network" class="nav-item nav-link" routerLinkActive="active">Network</a>
  <a routerLink="/trip" class="nav-item nav-link" routerLinkActive="active">Trip</a>
  <a routerLink="/vehicles" class="nav-item nav-link" routerLinkActive="active">Vehicles</a>
  <a routerLink="/feedback" class="nav-item nav-link" routerLinkActive="active">Feedback</a>
  <a routerLink="/serviceRequests" class="nav-item nav-link" routerLinkActive="active">ServiceRequests</a>
  <a routerLink="/announcements" class="nav-item nav-link" routerLinkActive="active">Announcements</a>
</nav>
