<nav class="navbar navbar-expand bg-light">
      <a routerLink="/network" class="nav-item nav-link" routerLinkActive="active">Network</a>
      <a routerLink="/trip" class="nav-item nav-link" routerLinkActive="active">Trip</a>
</nav>

<!--
<ngb-tabset>

  <ngb-tab title="network">
    <ng-template ngbTabContent>
      <a routerLink="/network" routerLinkActive="active">Network</a>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="trips">
    <ng-template ngbTabContent>
      <a routerLink="/trip" routerLinkActive="active">Trips</a>
    </ng-template>
  </ngb-tab>

</ngb-tabset>

-->

