<div class="modal-header">
  <h4 class="modal-title">
    Create new announcement
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body container d-flex flex-column">
  <app-edit-announcement-text *ngIf="state === 0" [(text)]="text"></app-edit-announcement-text>
  <app-edit-announcement-datetime *ngIf="state === 1" [(from)]="validFrom" [(to)]="validTo"></app-edit-announcement-datetime>
  <app-edit-announcement-stops *ngIf="state === 2" [lines]="availableLines" [stops]="availableStops" (selectedStops)="selectedStops"></app-edit-announcement-stops>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close('Close click')">Close</button>
  <button type="button" class="btn btn-outline-primary" (click)="back()">Back</button>
  <button type="button" class="btn btn-outline-primary" (click)="next()">{{state === 2? "Confirm" : "Next"}}</button>
</div>
