<div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <label>Line: </label>
  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-primary" ngbDropdownToggle>{{data.line.id}}</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <div *ngFor="let line of availLines">
        <button class="dropdown-item" (click)="data.line=line">{{line.id}}</button>
      </div>
    </div>
  </div>

  <label>Vehicle: </label>
  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-primary" ngbDropdownToggle>{{data.vehicle.id}}</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <div *ngFor="let vehicle of availVehicles">
        <button class="dropdown-item" (click)="data.vehicle=vehicle">{{vehicle.id}}</button>
      </div>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
