<div class="d-inline-flex" [style]="getWidthStyle()" #element>
  <button
    class="btn btn-outline-primary button-dropdown d-inline-flex w-100 justify-content-between"
    #dropdownButton
    (click)="isOpen = !isOpen">
    <span></span>
    <span class="text-ellipsis flex-grow-1">{{selected.label}}</span>
    <span><i class="fa fa-angle-down"></i></span>
  </button>
  <div class="{{isOpen? 'd-flex' : 'd-none'}} flex-column dropdown-container bg-white"
       [style]="getPositionStyle()"
       aria-labelledby="dropdownBasic1">
      <ng-container *ngFor="let value of values">
        <button
          class="btn btn-dropdown d-inline-flex no-flex-shrink justify-content-center"
          (click)="select(value);">
          <span class="text-ellipsis flex-grow-1">{{value.label}}</span>
        </button>
      </ng-container>
  </div>
</div>
