:host {
  min-width: 0;
}

.dropdown-container {
  position: fixed;
  margin-top: 14px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 0.25em;
  z-index: 1;
}

.text-ellipsis {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  min-width: 0;
}

.btn-dropdown {
  background-color: white;
  z-index: 10;
}

.btn-dropdown:hover {
  background-color: #007bff;
}

.dropdown-toggle::after {
  margin-top: 0.5em;
}

.button-border {
  border-radius: 0.25em;
}
