<div ngbDropdown class="d-inline-flex w-100">
  <button class="btn btn-outline-primary button-dropdown d-inline-flex w-100" ngbDropdownToggle>
    <span class="text-ellipsis">{{selected.label}}</span>
  </button>
  <div ngbDropdownMenu class="scrollable-dropdown" aria-labelledby="dropdownBasic1">
    <ng-container *ngFor="let value of values">
      <button class="dropdown-item button-dropdown" (click)="select(value);">
        <span class="text-ellipsis flex-grow-1">{{value.label}}</span>
      </button>
    </ng-container>
  </div>
</div>
