.bounding-box {
  float: left;
  margin: 20px 20px 0 0;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #007bff;
  overflow-y: auto;
}

.flex-3 {
  flex-grow: 2;
  max-width: 100%;
}

.flex-1 {
  flex-grow: 1;
  max-width: 100%;
}

h4 {
  margin-bottom: 20px;
  text-align: center;
}
