.fit-screen {
  height: 100%;
  overflow-y: auto;
}

.no-float {
  clear: both;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.padding-top-30 {
  padding-top: 30px;
}

.padding-top-50 {
  padding-top: 50px;
}

.padding-left-5 {
  padding-left: 5px;
}

.padding-right-20 {
  padding-right: 20px;
}

.padding-emb-box-headline {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.color-fine {
  color: limegreen;
}

.color-problematic {
  color: #ffb300;
}

.color-critical {
  color: #dd3645;
}

.background-fine {
  background-color: limegreen;
}

.background-problematic {
  background-color: #ffb300;
}

.background-critical {
  background-color: #dd3645;
}

.width-100 {
  width: 100%;
}

.datepicker {
  margin: 0 20px 20px 0;
}

.gray-background {
  background-color: #efefef;
  border-radius: 10px 0 0 10px;
}
