<div *ngIf="!isLoaded()">
  <h3>Loading...</h3>
</div>

<div class="fit-screen d-flex flex-column" *ngIf="isLoaded()">

  <h3 class="text-center">
    <div [ngClass]="{'color-fine': stop.state === 'FINE',
       'color-problematic': stop.state === 'PROBLEMATIC',
       'color-critical': stop.state === 'CRITICAL' }">
      <i class="fa fa-lightbulb-o fa-2x float-right padding-right-20" aria-hidden="true"></i>
    </div>
    {{title}}
    <label class="text-primary">{{stop.commonName}}</label>
  </h3>
  <div class="no-float margin-bottom-30">
    <button class="btn btn-outline-secondary" (click)="goBack()">Back</button>
  </div>

  <app-embedded-stop [stop]="stop" [lineForStopDataInbound]="lineForStopDataInbound"
                     [lineForStopDataOutbound]="lineForStopDataOutbound"
                     class="flex-1 bounding-box"></app-embedded-stop>
</div>
