.no-float {
  clear: both;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.padding-top-50 {
  padding-top: 50px;
}

.stop-list {
  list-style-type: circle;
}

.padding-right-1 {
  padding-right: 3px !important;
}
