<div *ngIf="!isLoaded()">
  <h3>Loading...</h3>
</div>

<div *ngIf="isLoaded()">

  <h3 class="text-center">
    <div [ngClass]="{'color-fine': stop.state === 'FINE',
       'color-problematic': stop.state === 'PROBLEMATIC',
       'color-critical': stop.state === 'CRITICAL' }">
      <i class="fa fa-lightbulb-o fa-2x float-right small-padding-right" aria-hidden="true"></i>
    </div>
    {{title}}
    <label class="text-primary">{{stop.commonName}}</label>
  </h3>
  <h6 class="text-center margin-bottom">Stop ID: {{stop.id}}</h6>
  <h6 class="text-center margin-bottom">People waiting: {{stop.peopleWaiting}}</h6>

  <div class="no-float big-padding-top">
    <button class="btn btn-outline-secondary" (click)="goBack()">Back To Line Details</button>
  </div>
</div>
