<div *ngIf="!loaded">
  <h3>Loading...</h3>
</div>

<div class="fit-screen d-flex flex-column" *ngIf="loaded">

  <h3 class="text-center">
    <div [ngClass]="{'color-fine': stop.state === 'FINE',
       'color-problematic': stop.state === 'PROBLEMATIC',
       'color-critical': stop.state === 'CRITICAL' }">
      <i class="fa fa-lightbulb-o fa-2x float-right padding-right-20" aria-hidden="true"></i>
    </div>
    {{title}}
    <label class="text-primary">{{stop.commonName}}</label>
  </h3>
  <div class="no-float margin-bottom-30">
    <button class="btn btn-outline-secondary" (click)="goBack()">Back</button>
    <button class="btn btn-outline-primary" (click)="skipStop()">Skip stop</button>
  </div>
  <div class="bounding-box">
  <h4 class="text-danger text-left">
    Stop skipped:
  </h4>
  <h5 *ngFor="let number of [0,1,2]">
    from {{stop.commonName}} to {{stop.commonName}} because of {{stop.commonName}}
  </h5>
  </div>

  <app-embedded-stop [stop]="stop" [lineForStopDataInbound]="lineForStopDataInbound"
                     [lineForStopDataOutbound]="lineForStopDataOutbound"
                     class="flex-1 bounding-box"></app-embedded-stop>
</div>
