<a href="trip">
  <h4 class="text-lg-left">
    <i class="fa fa-list fa-2x float-left padding-left-5 text-primary"></i>
    <label class="padding-emb-box-headline">Trips</label>
  </h4>
</a>

<div *ngFor="let trip of trips">
  <div [ngClass]="{'color-fine': trip.vehicle.state === 'FINE',
     'color-problematic': trip.vehicle.state === 'PROBLEMATIC',
     'color-critical': trip.vehicle.state === 'CRITICAL' }">
    <i class="fa fa-lightbulb-o fa-2x float-right small-padding-right" aria-hidden="true"></i>
  </div>

  <p *ngIf="areTripsForVehicle">
    <label class="text-primary">
      <a href="trip/detail/{{trip.id}}">
        {{trip.id}}
      </a>
    </label>
    from
    <a href="network/stop/{{trip.stops[0].id}}">
      {{trip.stops[0].name}}
    </a>
    <label class="text-secondary">(departure: {{trip.stops[0].departureTime |
      date:'MM/dd/yyyyHH:mm'}})</label>
    to
    <a href="network/stop/{{trip.stops[trip.stops.length - 1].id}}">
      {{trip.stops[trip.stops.length - 1].name}}
    </a>
    <label class="text-secondary">(arrival: {{trip.stops[trip.stops.length - 1].departureTime |
      date:'MM/dd/yyyy HH:mm'}})</label>
  </p>

  <p *ngIf="!areTripsForVehicle">
    <label class="text-primary">
      <a href="trip/detail/{{trip.id}}">
        {{trip.id}}
      </a>
    </label>
    on line <label class="text-primary">
    <a href="network/detail/{{trip.line.id}}">
      {{trip.line.name}}
    </a>
  </label>
    departs at <label class="text-secondary">{{trip.stops[trip.stops.length - 1].departureTime |
    date:'MM/dd/yyyy HH:mm'}}</label>
  </p>
</div>


