<h4 class="text-lg-left">
  <app-state-icon-medium class="float-right" [state]="stop.state"></app-state-icon-medium>
  <i class="fa fa-map-marker fa-2x float-left padding-left-5 text-primary"></i>
  <label class="padding-emb-box-headline">Stop</label>
</h4>

<p class="text-primary"><label class="text-secondary">ID: </label> {{stop.id}}</p>
<p><label class="text-secondary">People waiting: </label> {{stop.peopleWaiting}}</p>
<div>
  <label *ngIf="lineForStopDataInbound.length>0" class="text-secondary">Lines inbound:</label>
  <label *ngFor="let line of lineForStopDataInbound; let i=index">
    <label *ngIf="i>0">,</label>
    <label>{{line.line}}</label>
  </label>
</div>
<div>
  <label *ngIf="lineForStopDataOutbound.length>0" class="text-secondary">Lines outbound:</label>
  <label *ngFor="let line of lineForStopDataOutbound; let i=index">
    <label *ngIf="i>0">,</label>
    <label>{{line.line}}</label>
  </label>
</div>
