<div [ngClass]="{'greyed-out': confirmed}">
<div class="modal-header">
  <h4 class="modal-title">
    {{ title }}
  </h4>
  <button type="button" class="close" aria-label="Close"
          (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body d-flex flex-column">
  <ng-container *ngIf="state == 0">
    <div class="d-flex justify-content-between align-items-center m-3">
      <label class="m-0">Line: </label>
      <app-dropdown [values]="availableLines" [(selected)]="selectedLine"
                    (selectedChange)="selectedLineChanged()" [width]="300"></app-dropdown>
    </div>
    <div *ngIf="selectedLine.value !== null"
         class="d-flex justify-content-between align-items-center m-3">
      <label class="m-0">Direction: </label>
      <app-dropdown [values]="getDirectionDropdownItems()"
                    [(selected)]="selectedDirection"
                    (selectedChange)="selectedDirectionChanged()" [width]="300"></app-dropdown>
    </div>
  </ng-container>

  <app-datetime-picker *ngIf="state == 1"
                       [text]="'Departure time: '"
                       (modelChanged)="selectedDate=$event"
                       [(model)]="selectedDate"
                       [isValid]="isValidDeparture">
  </app-datetime-picker>

  <div *ngIf="state == 2" class="d-flex justify-content-between align-items-center m-3">
    <label class="m-0">Vehicle</label>
    <app-dropdown [values]="availableVehicles"
                  [(selected)]="selectedVehicle"></app-dropdown>
  </div>

  <ng-container *ngIf="state == 3">
    <div *ngFor="let stop of getStops()"
         class="d-flex no-flex-shrink justify-content-between align-items-center {{selectedStops.get(stop)? '': 'text-secondary'}}">
      {{stop.commonName}}
      <button
        class="btn {{selectedStops.get(stop)? 'btn-outline-primary' : 'btn-outline-secondary'}} icon-button"
        (click)="stopSelectionChanged(stop)">
        <i class="fa {{selectedStops.get(stop)?'fa-check' : 'fa-times'}}" aria-hidden="true"></i>
      </button>
    </div>
  </ng-container>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">
    Cancel
  </button>
  <button *ngIf="state !== 0" type="button"
          class="btn btn-outline-dark" (click)="back()"  [disabled]="!isBackEnabled()">
    Back
  </button>
  <button *ngIf="state === 2" type="button"
          class="btn btn-outline-dark" (click)="next()"  [disabled]="!isNextEnabled()">
    Edit Stops
  </button>
  <button *ngIf="state < 2" type="button"
          class="btn btn-outline-primary" (click)="next()"  [disabled]="!isNextEnabled()">
    Next
  </button>
  <button *ngIf="state >= 2" type="button"
          class="btn btn-outline-primary" (click)="next(true)" [disabled]="!isNextEnabled(true)">
    Save
  </button>
</div>
</div>

<div *ngIf="confirmed" class="fa fa-spinner fa-pulse fa-5x center-center text-primary"></div>
