<div class="d-flex flex-column fit-screen">
  <h3 class="text-center">
    <app-state-icon-large class="float-right" [state]="state"></app-state-icon-large>
    {{title}}
  </h3>

  <div class="d-flex flex-row">
    <div class="fit-screen flex-2 overflow-x">
      <app-network-map></app-network-map>
    </div>

    <!-- stopState of each line -->
    <!-- this could be extracted into an embedded component to keep this file smaller, but it is not needed in any other component -->
    <div class="flex-1 bounding-box min-width">
      <h4 class="text-lg-left">
        <i class="fa fa-exchange fa-2x float-left padding-left-5 text-primary"></i>
        <label class="padding-emb-box-headline">Lines</label>
      </h4>
      <p *ngFor="let line of lines">
        <a href="network/detail/{{line.id}}">
      <span *ngIf="line.type === 'BUS'" [style.color]="line.color">
        <i class="fa fa-bus float-left padding-left-5 padding-right-5"></i>
      </span>
          <span *ngIf="line.type === 'SUBWAY'" [style.color]="line.color">
        <i class="fa fa-subway float-left padding-left-5 padding-right-5"></i>
      </span>
        </a>
        {{line.name}}
        <app-state-icon-small class="float-right" [state]="line.state"></app-state-icon-small>
      </p>
    </div>
  </div>
</div>

