<div *ngIf="!loaded">
  <h3>Loading...</h3>
</div>

<div class="fit-screen d-flex flex-column" *ngIf="loaded">
  <h3 class="text-center">
    <app-state-icon [size]="'fa-3x'"class="float-right" [state]="vehicle.state" [paddingr]="'padding-right-20'"></app-state-icon>
    Details <label class="text-primary">{{vehicle.id}}</label>
  </h3>

  <div class="no-float">
    <button class="btn btn-outline-dark" (click)="goBack()">Back</button>
    <button class="btn btn-outline-danger" (click)="showConfirmModal()">Delete</button>
  </div>

  <div class="d-flex flex-row">
    <div class="d-flex flex-1 flex-column max-width">
      <div class="bounding-box">
        <app-embedded-vehicle [vehicle]="vehicle"></app-embedded-vehicle>
      </div>
      <div class="bounding-box">
        <app-embedded-trip [trips]="trips" [areTripsForVehicle]="true"></app-embedded-trip>
      </div>
    </div>
    <div class="d-flex flex-1 float-right flex-column">
      <div *ngIf="vehicle.currentLine !== null" class="bounding-box">
        <app-embedded-line [line]="vehicle.currentLine"></app-embedded-line>
      </div>
      <div *ngIf="vehicle.currentLine === null" class="bounding-box">
        <h4 class="text-lg-left">
          <i class="fa fa-home fa-2x float-left padding-left-5 text-primary"></i>
          <label class="padding-emb-box-headline">In depot</label>
        </h4>
        <p>Vehicle currently not on a line</p>
      </div>
      <div class="bounding-box">
        <app-embedded-feedback [feedback]="feedback"></app-embedded-feedback>
      </div>
      <div class="bounding-box">
        <app-embedded-service-requests [serviceRequests]="serviceRequests" [target]="vehicle" [openEvent]="openEvent">
        </app-embedded-service-requests>
      </div>
    </div>
  </div>
</div>
