<div *ngIf="!loaded">
  <h3>Loading...</h3>
</div>

<div class="fit-screen d-flex flex-column" *ngIf="loaded">
  <h3 class="text-center">
    <div [ngClass]="{'color-fine': serviceRequest.priority === 'FINE',
       'color-problematic': serviceRequest.priority === 'PROBLEMATIC',
       'color-critical': serviceRequest.priority === 'CRITICAL' }">
      <i class="fa fa-exclamation-circle fa-3x float-right padding-right-20" aria-hidden="true"></i>
    </div>
    Details <label class="text-primary">{{serviceRequest.id}}</label>
  </h3>

  <div class="no-float margin-bottom-30">
    <button class="btn btn-outline-dark" (click)="goBack()">Back</button>
    <button class="btn btn-outline-primary" (click)="editServiceRequest()">Edit service request
    </button>
    <button class="btn btn-outline-danger" (click)="showConfirmModal()">Delete</button>
  </div>

  <div class="d-flex">

    <!-- info about service request -->
    <div class="bounding-box flex-1">
      <h4 class="text-lg-left">
        <div [ngClass]="{'color-fine': serviceRequest.priority === 'FINE',
       'color-problematic': serviceRequest.priority === 'PROBLEMATIC',
       'color-critical': serviceRequest.priority === 'CRITICAL' }">
          <i class="fa fa-exclamation-circle fa-2x float-right small-padding-right" aria-hidden="true"></i>
        </div>
        <i class="fa fa-cogs fa-2x float-left padding-left-5 text-primary"></i>
        <label class="padding-emb-box-headline">Service request</label>
      </h4>

      <p class="text-primary"><label class="text-secondary">ID: </label> {{serviceRequest.id}}</p>
      <p><label class="text-secondary">Name: </label> {{serviceRequest.name}}</p>
      <p><label class="text-secondary">Type: </label> {{ stringFormatter.toFirstUpperRestLower(serviceRequest.serviceType) }}</p>
      <p><label class="text-secondary">Degree of Processing: </label> {{stringFormatter.toFirstUpperRestLower(serviceRequest.statusCode) }}</p>
      <p><label class="text-secondary">Due Date: </label> {{(serviceRequest.dueDate) | date:'MM/dd/yyyy'}}</p>
      <p><label class="text-secondary">Completion Date: </label> {{serviceRequest.completionDate | date:'MM/dd/yyyy'}}</p>
      <p><label *ngIf="serviceRequest.serviceRequestDescription.length > 0" class="text-secondary">Description: </label>
        <span *ngFor="let description of serviceRequest.serviceRequestDescription">
        {{description.text}}
      </span>
      </p>
    </div>

    <div class="d-flex flex-1 flex-column">
      <!-- feedback -->
      <div class="bounding-box">
        <h4 class="text-lg-left">
          <i class="fa fa-comments-o fa-2x float-left padding-left-5 text-primary"></i>
          <label class="padding-emb-box-headline">Feedback</label>
        </h4>
        <p *ngFor="let feedback of serviceRequest.feedbacks">
          <label class="text-secondary">{{feedback.message}}</label>
      <span [ngClass]="{'color-fine': feedback.rating === 'FINE',
       'color-problematic': feedback.rating === 'PROBLEMATIC',
       'color-critical': feedback.rating === 'CRITICAL' }">
        <i class="fa fa-star float-right small-padding-right" aria-hidden="true"></i>
      </span>
        </p>
      </div>


      <!-- target (vehicle or stop) -->
  <div *ngIf="hasTarget()&&hasVehicleTarget()" class="d-flex flex-1 flex-column">
        <!-- vehicle -->
        <app-embedded-vehicle [vehicle]="serviceRequest.target"
                              class="flex-1 bounding-box"></app-embedded-vehicle>
      </div>
  <div *ngIf="hasTarget()&&hasStopTarget()" class="d-flex flex-1 flex-column">
        <!-- stop -->
        <app-embedded-stop [stop]="serviceRequest.target"
                           class="flex-1 bounding-box"></app-embedded-stop>
      </div>
    </div>

  </div>
</div>
