<div class="d-flex flex-column fit-screen">
  <h3>
    <div [ngClass]="{'color-fine': state === 'FINE',
       'color-problematic': state === 'PROBLEMATIC',
       'color-critical': state === 'CRITICAL' }">
      <i class="fa fa-lightbulb-o fa-2x float-right padding-right-20" aria-hidden="true"></i>
    </div>
    {{title}}
  </h3>

  <div *ngIf="!loaded">
    <h3>Loading...</h3>
  </div>

  <div class="d-flex flex-row fit-screen">
    <div class="fit-screen">
      <app-filter-group-view></app-filter-group-view>
    </div>

    <div class="d-flex flex-grow-1 fit-screen">
      <table class="table fit-screen d-flex flex-column">
        <thead class="flex-grow-1">
        <tr class="d-flex">
          <th>Vehicle-ID</th>
          <th>Capacity</th>
          <th>Load</th>
          <th>Current Delay</th>
          <th>Temperature</th>
          <th>Defects</th>
          <th>Type</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody class="d-flex flex-column flex-grow-1 fit-screen">
        <tr *ngFor="let vehicle of filterGroup.getFiltered(vehicles)">
          <td>
            <a routerLink="{{vehicle.id}}">
              {{ vehicle.id }}
            </a>
          </td>
          <td>{{ vehicle.capacity }}</td>
          <td>{{ vehicle.load }}</td>
          <td>{{ (vehicle.delay / 60.0).toFixed(0) }}</td>
          <td>{{ vehicle.temperature }}</td>
          <td>{{ vehicle.defects }}</td>
          <td>{{ vehicle.type }}</td>
          <td>
          <span [ngClass]="{'color-fine': vehicle.state === 'FINE',
           'color-problematic': vehicle.state === 'PROBLEMATIC',
          'color-critical': vehicle.state === 'CRITICAL' }">
            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
          </span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="no-float m-3 no-m-left">
    <button class="btn btn-outline-primary" (click)="add()">Add new vehicle</button>
  </div>
</div>
