:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.scrollable {
  height: 100%;
  overflow-y: auto;
}

.bodycontainer {
  max-height: 100%;
  width: 100%;
  margin: 0;
  overflow-y: auto;
}

.table-scrollable {
  margin: 0;
  padding: 0;
}

#table-head {
  flex-shrink: 0;
  /* strange, but this causes the scrollbar of the table body
   * to appear outside the reserved space...
   */
  margin-right: 0;
}
