<div class="d-flex flex-column fit-screen">
  <h3 class="text-center m-3">{{title}}</h3>

  <div class="d-flex flex-row fit-screen">
    <div class="fit-screen width-300">
      <app-filter-group-view></app-filter-group-view>
    </div>

    <div *ngIf="loaded && filterGroup.searchServiceRequest(filterGroup.getFiltered(serviceRequests)).length > 0" class="d-flex flex-grow-1 fit-screen">
      <table class="table fit-screen d-flex flex-column">
        <thead>
        <tr class="d-flex">
          <th>ID</th>
          <th>Name</th>
          <th>Type</th>
          <th>Degree of Processing</th>
          <th>Due Date</th>
          <th>Completion Date</th>
          <th>Priority</th>
        </tr>
        </thead>
        <tbody class="d-flex flex-column flex-grow-1 fit-screen">
        <tr *ngFor="let serviceRequest of filterGroup.searchServiceRequest(filterGroup.getFiltered(serviceRequests))">
          <div (click)="goToLink(serviceRequest.id)" class="d-flex highlight">
            <td>{{ serviceRequest.id }}</td>
          <td>{{ serviceRequest.name }}</td>
          <td>{{ stringFormatter.toFirstUpperRestLower(serviceRequest.serviceType) }}</td>
          <td>{{ stringFormatter.toFirstUpperRestLower(serviceRequest.statusCode) }}</td>
          <td>{{ serviceRequest.dueDate | date:'MM/dd/yyyy'}}</td>
          <td *ngIf="hasCompletionDate(serviceRequest)">{{ serviceRequest.completionDate | date:'MM/dd/yyyy'}}</td>
          <td *ngIf="!hasCompletionDate(serviceRequest)">Not completed yet</td>
          <td>
            <span [ngClass]="{'color-fine': serviceRequest.priority === 'FINE',
             'color-problematic': serviceRequest.priority === 'PROBLEMATIC',
            'color-critical': serviceRequest.priority === 'CRITICAL' }">
              <i class="fa fa-exclamation-circle fa-2x" aria-hidden="true"></i>
            </span>
          </td>
    </div>
        </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="!loaded">
      <h3>Loading...</h3>
    </div>
    <div *ngIf="loaded && filterGroup.searchServiceRequest(filterGroup.getFiltered(serviceRequests)).length == 0">
      <h3>No service request available</h3>
    </div>
  </div>
  <div class="no-float m-3 no-margin-left">
    <button class="btn btn-outline-primary" (click)="addServiceRequest()">Add new service
      request
    </button>
  </div>
</div>
