<div [ngClass]="{'greyed-out': saveDisabled}">
  <div class="modal-header">
    <h4 class="modal-title">
      {{title}}
    </h4>
    <button type="button" class="close" aria-label="Close"
            (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body d-flex flex-column">

    <div *ngIf="!targetTypeChosen" class="d-flex justify-content-between align-items-center m-3">
      <label>Target Type: </label>
      <app-dropdown [values]="selectableTargetTypes" [(selected)]="selectedTargetType"
                    [disabled]="!targetEditable" [width]="300">
      </app-dropdown>
    </div>

    <div *ngIf="targetTypeChosen && !dataChosen">

      <div class="d-flex justify-content-between align-items-center m-3">
        <label class="m-0">Target: </label>
        <app-dropdown [values]="toDropdownItemsTarget(availTargets)" [(selected)]="selectedTarget"
                      [disabled]="!targetEditable" [width]="300">
        </app-dropdown>
      </div>

      <div class="d-flex justify-content-between align-items-center m-3">
        <label class="m-0">Type: </label>
        <app-dropdown [values]="typeItems()" [(selected)]="selectedType"  [width]="300"></app-dropdown>
      </div>

      <div class="d-flex justify-content-between align-items-center m-3">
        <label class="m-0">Priority: </label>
        <app-dropdown [values]="priorityItems()" [(selected)]="selectedPriority" [width]="300"></app-dropdown>
      </div>

      <div class="form-group m-2">
        <label for="description">Description: </label>
        <textarea class="form-control" rows="5" id="description"
                  [(ngModel)]="description"></textarea>
      </div>

      <div class="flex-column d-flex">
        <label class="m-2 float-left">Due Date: {{(selectedDate) | date:'MM/dd/yyyy'}}</label>
        <ngb-datepicker [(ngModel)]="date" (select)="updateDate()"
                        class="float-left datepicker m-2 dp"></ngb-datepicker>
      </div>

    </div>

    <div *ngIf="dataChosen" class="d-block">
      <div *ngIf="availFeedback.length === 0">
        <label>No feedback for this target available</label>
      </div>
      <div *ngIf="availFeedback.length !== 0">
        <label>Choose feedback of target for service request:</label>
        <div *ngFor="let feedback of availFeedback"
             class="d-flex no-flex-shrink justify-content-between align-items-center {{isChecked(feedback)? '': 'text-secondary'}}">
          {{feedback.message}}
          <button
            class="btn {{isChecked(feedback)? 'btn-outline-primary' : 'btn-outline-secondary'}} icon-button"
            (click)="includeFeedback(feedback)">
            <i class="fa {{isChecked(feedback)?'fa-check' : 'fa-times'}}" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button *ngIf="targetTypeChosen" type="button" class="btn btn-outline-dark" (click)="stepBack()"
            [disabled]="saveDisabled">Back
    </button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')"
            [disabled]="saveDisabled">Cancel
    </button>
    <button *ngIf="!dataChosen" type="button" class="btn btn-outline-primary" (click)="confirm()"
            [disabled]="disableNext()">Next
    </button>
    <button *ngIf="dataChosen" type="button" class="btn btn-outline-primary" (click)="confirm()"
            [disabled]="disableNext()">
      Save
    </button>
  </div>
</div>

<div *ngIf="saveDisabled" class="fa fa-spinner fa-pulse fa-5x center-center text-primary"></div>
