.main-margin {
  margin: 20px;
}

.column {
  float: left;
}

.charlie-row:after {
  content:"";
  display: table;
  clear: both;
}

#ticker {
  width: 20%;
  height: 100vh;
  display: flex;
}

#main-view {
  width: 80%;
  height: 100vh;
}
