<div *ngIf="!isLoaded()">Loading...</div>

<div *ngIf="isLoaded()">
  <h3>
    <div [ngClass]="{'color-fine': line.state === 'FINE',
       'color-problematic': line.state === 'PROBLEMATIC',
       'color-critical': line.state === 'CRITICAL' }">
      <i class="fa fa-exclamation-triangle fa-2x float-right small-padding-right" aria-hidden="true"></i>
    </div>
    Line Id: {{line.id}}
  </h3>
  <h4>Line Name: {{line.name}}</h4>
</div>

<app-line-map #inbound></app-line-map>

<app-line-map #outbound></app-line-map>

<button (click)="goBack()">Back To Network-View</button>
