<div *ngIf="!isLoaded()">Loading...</div>

<div *ngIf="isLoaded()">
  <h3>
    <div [ngClass]="{'color-fine': line.state === 'FINE',
       'color-problematic': line.state === 'PROBLEMATIC',
       'color-critical': line.state === 'CRITICAL' }">
      <i class="fa fa-lightbulb-o fa-2x float-right small-padding-right" aria-hidden="true"></i>
    </div>
    Line Id: {{line.id}}
  </h3>
  <h4>Line Name: {{line.name}}</h4>
</div>

<app-line-map #inbound></app-line-map>
<app-line-map #outbound></app-line-map>

<div *ngIf="isLoaded()">
  <app-embedded-stop-overview [linePositionData]="inboundPositionData" [title]="'Inbound'" [color]="line.color"></app-embedded-stop-overview>
  <app-embedded-stop-overview [linePositionData]="outboundPositionData" [title]="'Outbound'" [color]="line.color"></app-embedded-stop-overview>
</div>

<div class="no-float big-padding-top">
  <button class="btn btn-outline-secondary" (click)="goBack()">Back To Network-View</button>
</div>
