
<div *ngIf="!loaded">Loading...</div>

<div class="fit-screen d-flex flex-column" *ngIf="loaded">
  <h3 class="text-center">
    <app-state-icon-large class="float-right" [state]="line.state"></app-state-icon-large>
    Details <label class="text-primary"> {{line.name}} </label>
  </h3>

  <div class="no-float margin-bottom-30">
    <button class="btn btn-outline-dark" (click)="goBack()">Back</button>
  </div>

    <!--  <app-line-map #inbound></app-line-map>
     <app-line-map #outbound></app-line-map>-->

  <div *ngIf="loaded" class="d-flex">
    <app-embedded-stop-overview [linePositionData]="inboundPositionData"
                                [title]="'inbound'"
                                [color]="line.color" class="flex-1 bounding-box" ></app-embedded-stop-overview>
    <app-embedded-stop-overview [linePositionData]="outboundPositionData" [title]="'outbound'"
                                [color]="line.color" class="flex-1 bounding-box"></app-embedded-stop-overview>
  </div>
</div>

